.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
tsconfig.tsbuildinfo
eslint.config.cjs
eslint.ignores.cjs
.prettierrc.cjs
.editorconfig
font-build.cjs
font-src/**
**/*.map
**/*.ts
node_modules/**
out/**
!out/extension.js
bundle.js
bundle.mjs
package-lock.json

